/*Mis Variables*/
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../multimedia/FONDOWEB.jpg");
  background-attachment: fixed;
  background-size: 100%;
  font-family: 'Prompt', sans-serif; }
  body .logoHead {
    width: 6rem; }
  body .borderRight {
    border-right: solid 1px #49475b; }
  body .mainIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px; }
    body .mainIndex .divPortada {
      padding: 100px;
      width: 100%;
      background-image: url(../multimedia/portada.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
      body .mainIndex .divPortada .portada {
        background-color: rgba(255, 255, 255, 0.8);
        width: 450px; }
        body .mainIndex .divPortada .portada .portadaTitulo {
          font-size: 43pt;
          font-weight: 900;
          color: #17a2b8; }
        body .mainIndex .divPortada .portada .fontDancing {
          font-family: 'Dancing Script', cursive;
          font-weight: 700;
          font-size: 39pt;
          color: #ffc107; }
    body .mainIndex #comoFunciona {
      font-weight: 600;
      font-size: 25pt;
      padding: 40px 0 25px 0;
      color: #14080e;
      text-transform: uppercase; }
    body .mainIndex .pasosIndex {
      width: 90vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      body .mainIndex .pasosIndex .comoBoxFunciona {
        background-color: #49475b;
        color: white;
        width: 20%;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        border: solid 2px #e9eb9e;
        border-radius: 8px;
        padding: 5px; }
        body .mainIndex .pasosIndex .comoBoxFunciona .iconoBoxFunciona {
          background-position: center;
          background-size: cover;
          width: 4rem;
          height: 4rem;
          border: solid 1px black;
          border-radius: 50%;
          padding: 5px;
          margin-bottom: 15px; }
      body .mainIndex .pasosIndex .flechaPasos {
        background-image: url(../multimedia/flecha.png);
        background-position: center;
        background-size: cover;
        width: 1rem;
        height: 1rem; }
      body .mainIndex .pasosIndex .imgPaso1 {
        background-image: url(../multimedia/iconoPaso1.jpg); }
      body .mainIndex .pasosIndex .imgPaso2 {
        background-image: url(../multimedia/iconoPaso2.jpg); }
      body .mainIndex .pasosIndex .imgPaso3 {
        background-image: url(../multimedia/iconoPaso3.jpg); }
      body .mainIndex .pasosIndex .imgPaso4 {
        background-image: url(../multimedia/iconoPaso4.jpg); }
      body .mainIndex .pasosIndex .comoBoxFunciona:hover {
        animation-name: boxSacude;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-duration: 1s; }
  body .mainPedidos {
    margin-top: 120px;
    display: flex;
    justify-content: center; }
  body .mainModelos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px; }
    body .mainModelos .boxModelos {
      background-color: #17a2b8;
      margin: 0 20px 15px 20px;
      width: 20rem;
      border-radius: 5px;
      border: solid 2px #ffc107;
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 3rem 12rem 7rem 3rem;
      grid-template-areas: "titulo titulo" "img img" "parrafo parrafo" "precio boton";
      justify-items: center;
      align-items: center; }
      body .mainModelos .boxModelos h2 {
        grid-area: titulo;
        align-self: flex-end;
        color: #49475b; }
      body .mainModelos .boxModelos .imgBoxModelos {
        grid-area: img;
        width: 90%;
        height: 10rem;
        background-image: url(../multimedia/productos.png);
        background-size: cover;
        background-position: center; }
      body .mainModelos .boxModelos .parrafoBoxModelos {
        grid-area: parrafo;
        width: 90%; }
      body .mainModelos .boxModelos .precioBoxModelos {
        grid-area: precio;
        justify-self: left;
        padding-left: 2rem; }
      body .mainModelos .boxModelos .botonBoxModelos {
        grid-area: boton;
        background-color: #49475b;
        border-radius: 2rem;
        border: solid 3px #e9eb9e; }
        body .mainModelos .boxModelos .botonBoxModelos a {
          padding: 8px;
          color: #e9eb9e; }
      body .mainModelos .boxModelos .botonBoxModelos:hover {
        transform: scale(1.03); }
    body .mainModelos .boxModelos:hover {
      transform: scale(1.03); }
  body .mainPromos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px; }
  body .mainContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px; }
  body .footer {
    position: bottom;
    height: 100%;
    margin-top: 3rem;
    padding: 1rem 0 2rem 0;
    border-top: solid 3px #ffc107;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 75%;
    grid-template-areas: "tituFoot imgFoot" "datosFoot imgFoot";
    align-items: flex-start; }
    body .footer .footerContacto {
      grid-area: tituFoot;
      padding-left: 15%;
      font-size: 20pt;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: underline; }
    body .footer .footerDatos {
      grid-area: datosFoot;
      padding-left: 15%; }
    body .footer .icon {
      margin: 10px 10px;
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 10px;
      background-color: #fae8f6;
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15), -6px -6px 12px rgba(255, 255, 255, 0.1);
      overflow: hidden;
      font-size: 20pt;
      transition: .3s linear;
      position: relative; }
      body .footer .icon .fa-facebook-f::before {
        background-image: linear-gradient(135deg, #3b5998 30%, #0a3d62 50%); }
      body .footer .icon .fa-instagram::before {
        background-image: linear-gradient(135deg, #c32aa3 30%, #0a3d62 50%); }
      body .footer .icon .fa-youtube::before {
        background-image: linear-gradient(135deg, #d71e18 30%, #0a3d62 50%); }
      body .footer .icon .fa-linkedin-in::before {
        background-image: linear-gradient(135deg, #007bb5 30%, #0a3d62 50%); }
    body .footer .icon:hover {
      transform: scale(1.15);
      border-radius: 50%; }
    body .footer .icon i::before {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      background-size: 200% 200%;
      background-position: 75% 75%;
      top: 0;
      left: 0;
      line-height: 50px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: backround .5s linear; }
    body .footer .icon:hover i::before {
      background-position: 0% 0%; }
    body .footer .imgFooter {
      grid-area: imgFoot;
      display: flex;
      justify-content: flex-end; }

/*Animaciones*/
.promo1 {
  animation-name: animaPromo1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s; }

.promo2 {
  animation-name: animaPromo2;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s; }

.promo3 {
  animation-name: animaPromo3;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 3s; }

@keyframes animaPromo1 {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    opacity: 1; } }

@keyframes animaPromo2 {
  0% {
    opacity: 0; }
  20% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 1; } }

@keyframes animaPromo3 {
  0% {
    opacity: 0; }
  40% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1; } }

#divContactoIzq {
  animation-name: animaDivCont1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s; }

#divContactoDer {
  animation-name: animaDivCont2;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s; }

@keyframes animaDivCont1 {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1; } }

@keyframes animaDivCont2 {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1; } }

@keyframes boxSacude {
  0% {
    transform: rotate(4deg); }
  10% {
    transform: rotate(-3deg); }
  20% {
    transform: rotate(1deg); }
  30% {
    transform: rotate(-1deg); }
  40% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(-2deg); }
  60% {
    transform: rotate(1deg); }
  70% {
    transform: rotate(-3deg); }
  80% {
    transform: rotate(2deg); }
  90% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(0deg); } }

/*Responsive*/
@media screen and (max-width: 576px) {
  .footerContacto {
    font-size: 11pt; }
  .footerDatos {
    font-size: 8pt; }
  .imgFooter img {
    width: 150px; }
  body .mainIndex .divPortada {
    padding: 100px 2rem 100px 2rem; }
  body .mainIndex .divPortada .portada {
    width: 100%; }
  body .mainIndex .divPortada .portada .portadaTitulo {
    font-size: 40pt; }
  body .mainIndex .divPortada .portada .fontDancing {
    font-size: 36pt; }
  #divContactoIzq {
    height: 450px; } }

@media screen and (max-width: 767px) {
  .flechaPasos {
    transform: rotate(90deg); } }

@media screen and (min-width: 768px) {
  .navbar-collapse {
    position: absolute;
    right: 30px; } }

@media screen and (max-width: 767px) {
  body .borderRight {
    border-right: none; }
  .nav-link {
    font-size: 25pt; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .flechaDesaparece {
    display: none; } }
