/*Mis Variables*/
$verde: #17a2b8;
$amarillo: #ffc107;

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../multimedia/FONDOWEB.jpg");
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Prompt', sans-serif;
    .logoHead{
        width: 6rem;
    }
    .borderRight{
        border-right: solid 1px #158697;
    }
    .mainIndex{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 75px;
        .divPortada{
            padding: 100px;
            width: 100%;
            background-image: url(../multimedia/portada.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            .portada{
                background-color: rgba(255, 255, 255, 0.8);
                width: 450px;
                .portadaTitulo{
                    font-size: 43pt;
                    font-weight: 900;
                    color: $verde;
                }
                .fontDancing{
                    font-family: 'Dancing Script', cursive;
                    font-weight: 700;
                    font-size: 39pt;
                    color: $amarillo;
                }
            }
        }
        #comoFunciona{
            font-weight: 400;
            font-family: 'Dancing Script', cursive;
            text-align: center;
            font-size: 55pt;
            padding: 40px 0 25px 0;
            color: #0a3d62;
            text-transform: capitalize;
        }  
        .pasosIndex{
            width: 90vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .comoBoxFunciona{
                background-color: #D4A95B;
                color: white;
                width: 20%;
                height: 12rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                border: solid 2px $amarillo;
                border-radius: 8px;
                box-shadow: 6px 6px 12px rgba(0,0,0,.15),
                        -6px -6px 12px rgba(255,255,255,.1);
                .iconoBoxFunciona{
                    background-color: white;
                    width: 4rem;
                    height: 4rem;
                    border: solid 1px black;
                    border-radius: 50%;
                    padding: 5px;
                    margin-bottom: 15px;
                    position: relative;
                    i{
                        color: #0a3d62;
                        font-size: 28pt;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        top: .8rem;
                        left: 0;
                        position: absolute;
                    }
                }
            }
            .flechaPasos{
                background-image: url(../multimedia/flecha.png);
                background-position: center;
                background-size: cover;
                width: 1rem;
                height: 1rem;
            }
            .comoBoxFunciona:hover{
                animation-name: boxSacude;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
                animation-duration: 1s;
            }
        }
        .boxQuienSoy{
                background-color:#EB7371;
            #tituloQuienSoy{
                color: #0a3d62;
                font-weight: 400;
                font-family: 'Dancing Script', cursive;
                font-size: 55pt;
            } 
            #parrafoQuienSoy{
                font-weight: 300;
                font-size: 16pt;
                color: white;
                text-align: center;
            }
            .imgQuienSoy{
                bottom: 0;
            }
        }
        
    }
    .mainPedidos{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        .tituloPedidos{
            font-family: 'Dancing Script', cursive;
            font-weight: 700;
            font-size: 39pt;
            color: $amarillo;
            text-align: center;
        }
    }
    .mainModelos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 120px;
        .boxModelos{
            background-color: #D4A95B;
            margin: 0 20px 15px 20px;
            width: 20rem;
            border-radius: 5px;
            border: solid 2px $amarillo;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 3rem 12rem 7rem 3rem;
            grid-template-areas: 
                "titulo titulo"
                "img img"
                "parrafo parrafo"
                "precio boton";
            justify-items: center;
            align-items: center;
            h2{
                margin: 3rem 0 2rem 0;
                font-family: 'Dancing Script', cursive;
                font-weight: 700;
                font-size: 30pt;
                grid-area: titulo;
                text-align: center;
                color: #0a3d62;
            }
            .imgBoxModelos{
                grid-area: img;
                width: 90%;
                height: 10rem;
                transition-duration: .5s;
            }
            .imgProdPola{
                background-image: url(../multimedia/productosPolaroid.png);
                background-size: cover;
                background-position: center;
            }
            .imgProdSquare{
                background-image: url(../multimedia/productosSquare.jpg);
                background-size: cover;
                background-position: center;
            }
            .imgProdClasica{
                background-image: url(../multimedia/productosClasica.jpg);
                background-size: cover;
                background-position: center;
            }
            .imgProdMediana{
                background-image: url(../multimedia/productosMediana.jpg);
                background-size: cover;
                background-position: center;
            }
            .imgProdGrande{
                background-image: url(../multimedia/productosGrande.jpg);
                background-size: cover;
                background-position: center;
            }
            .imgProdGigante{
                background-image: url(../multimedia/productosGigante.jpg);
                background-size: cover;
                background-position: center;
            }
            .parrafoBoxModelos{
                grid-area: parrafo;
                width: 90%;
                text-align: center;
                color: white;
            }
            .precioBoxModelos{
                grid-area: precio;
                justify-self: left;
                padding-left: .5rem;
            }
            .botonBoxModelos{
                grid-area: boton;
                background-color: #49475b;
                border-radius: 2rem;
                border: solid 3px #e9eb9e;
                a{
                    padding: 8px;
                    color: #e9eb9e;
                }
            }
            .badge{
                font-size: 10pt;
            }
        }
        .boxModelos:hover{
            .imgBoxModelos{
                transform: scale(1.06);
                box-shadow: 6px 6px 12px rgba(0,0,0,.15),
                        -6px -6px 12px rgba(255,255,255,.1);
            }
            
        }  
    }
    .mainPromos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 50px;
        .promoBox{
            background-color: #D4A95B;
            transition-duration: 2s;
        }
        .promoBox:hover{
            img{
                transition-duration: 1s;
                transform: scale(1.15);
                box-shadow: 12px 12px 24px rgba(0,0,0,.15),
                        -6px -6px 12px rgba(255,255,255,.1);
            }
            
        } 
    }
    .mainContacto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 120px;
        margin-bottom: 130px;
        #divContactoIzq{
            background-color: #EB7371;
            .textContacto{
                font-weight: 400;
                font-family: 'Dancing Script', cursive;
                font-size: 30pt;
            }
            .parrafoContacto{
                font-size: 10pt;
            }
        }
        #divContactoDer{
            background-color: #EB7371;
        }
    }
    .footer{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 25% 75%;
        grid-template-areas: 
            "tituFoot imgFoot"
            "datosFoot imgFoot";
        align-items: flex-start;
        .footerContacto{
            grid-area: tituFoot;
            padding-left:15%;
            font-size: 20pt;
            font-weight: 900;
            text-transform: uppercase;
            text-decoration: underline;
        }
        .footerDatos{
            grid-area: datosFoot;
            padding-left:15%;
        }
        .icon{
            margin: 8px 8px;
            width: 45px;
            height: 45px;
            display: inline-block;
            border-radius: 10px;
            background-color: rgb(250, 232, 246);
            box-shadow: 6px 6px 12px rgba(0,0,0,.15),
                        -6px -6px 12px rgba(255,255,255,.1);
            overflow: hidden;
            font-size: 20pt;
            transition: .3s linear;
            position: relative;
            .fa-facebook-f::before{
                background-image: linear-gradient(135deg, #3b5998 30%,#0a3d62 50%);
            }
            .fa-instagram::before{
                background-image: linear-gradient(135deg, #c32aa3 30%,#0a3d62 50%);
            }
            .fa-youtube::before{
                background-image: linear-gradient(135deg, #d71e18 30%,#0a3d62 50%);
            }
            .fa-linkedin-in::before{
                background-image: linear-gradient(135deg, #007bb5 30%,#0a3d62 50%);
            }
        }
        .icon:hover{
            transform: scale(1.15);
            border-radius: 50%;
        }
        .icon i::before{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            background-size: 200% 200%;
            background-position: 75% 75%;
            top: 0;
            left: 0;
            line-height: 45px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: backround .5s linear;
        }

        .icon:hover i::before{
            background-position: 0% 0%;
        }

        .imgFooter{
            grid-area: imgFoot;
            display: flex;
            justify-content: flex-end;   
        }   
    }
}

/*Animaciones*/
.pedidoTop{
    animation-name: animaPedido1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
.pedidoBottom{
    animation-name: animaPedido2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes animaPedido1{
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }
    60%{
        opacity: 1;
    }
}

@keyframes animaPedido2{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
        transform: translateX(100px)
    }
    80%{
        opacity: 1;
    }
}

.promo1{
    animation-name: animaPromo1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}
.promo2{
    animation-name: animaPromo2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}
.promo3{
    animation-name: animaPromo3;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes animaPromo1{
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }
    60%{
        opacity: 1;
    }
}

@keyframes animaPromo2{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
        transform: translateX(100px)
    }
    80%{
        opacity: 1;
    }
}

@keyframes animaPromo3{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
        transform: translateX(-100px)
    }
    100%{
        opacity: 1;
    }
}

#divContactoIzq{
    animation-name: animaDivCont1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

#divContactoDer{
    animation-name: animaDivCont2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes animaDivCont1{
    0%{
        opacity: 0;
        transform: translateY(-100px)
    }
    100%{
        opacity: 1;
    }
}

@keyframes animaDivCont2{
    0%{
        opacity: 0;
        transform: translateY(100px)
    }
    100%{
        opacity: 1;
    }
}

@keyframes boxSacude{
    0%{
        transform: rotate(4deg);
    }
    10%{
        transform: rotate(-3deg);
    }
    20%{
        transform: rotate(1deg);
    }
    30%{
        transform: rotate(-1deg);
    }
    40%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-2deg);
    }
    60%{
        transform: rotate(1deg);
    }
    70%{
        transform: rotate(-3deg);
    }
    80%{
        transform: rotate(2deg);
    }
    90%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.navAnimaIndex{
    animation-name: navInicia;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

@keyframes navInicia{
    0%{
        opacity: 0;
        padding: .5rem 1.5rem .5rem 1.5rem ;
    }
    100%{
        opacity: 1;
        padding: .5rem .5rem .5rem .5rem;
    }
}

.navbar-toggler{
    animation-name: iconSpin;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

@keyframes iconSpin{
    0%{
       transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

#imgQuienSoy{
    animation-name: imgMove;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
}

@keyframes imgMove{
    0%{
        transform: translateX(25px);
    }
    50%{
        transform: translateX(-25px);
    }
    100%{
        transform: translateX(25px);
    }
}
    


/*Responsive*/

@media screen and (max-width: 576px) {
    .footerContacto{
        font-size: 11pt;
    }
    .footerDatos{
        font-size: 8pt;
    }
    .imgFooter img{
        width: 120px;
    }
    body .mainIndex .divPortada{
        padding: 100px 2rem 100px 2rem;
    }
    body .mainIndex .divPortada .portada{
        width: 100%;
    }
    body .mainIndex .divPortada .portada .portadaTitulo{
        font-size: 40pt;
    }
    body .mainIndex .divPortada .portada .fontDancing{
        font-size: 36pt;
    }
    #divContactoIzq{
        height: 800px;
    }
}

@media screen and (max-width: 767px){
    .flechaPasos{
        transform: rotate(90deg);
    }
    
}
@media screen and (min-width: 768px){
    .navbar-collapse{
        position: absolute;
        right: 30px;
    }
}

@media screen and (max-width: 767px){
    body .borderRight{
        border-right: none;
    }
    .nav-link{
        font-size: 25pt;
    }
    #imgQuienSoy{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .flechaDesaparece{
        display: none;
    }
}